
body {
	background-image:url("body-background.png");
	background-repeat: repeat;
	margin: 0px;
}


.gradient {
	background:-webkit-linear-gradient(rgba(255,255,255,0.4) 0%, rgba(216,216,216,0.4)  100% );
	background:-moz-linear-gradient(rgba(255,255,255,0.4), rgba(216,216,216,0.4) 100% );
	border: solid 2px #199B9B;
}

button.btn-color {
	color: white;
	background-color: #199B9B;
	border-color: #157C7C;
}

button.btn-color:hover {
	color: white;
	background-color: #157C7C;
	border-color: #106868;
}

button.btn-color:active {
	color: white;
	background:-webkit-linear-gradient(rgba(16,104,104) 0%, rgba(21,124,124)  30% );
	background:-moz-linear-gradient(rgba(16,104,104), rgba(21,124,124) 30% );
	border-color: #106868;
}

button.btn-color:focus {
	color: white;
	background-color: #199B9B;
	border-color: #157C7C;
	outline: none;
}

#mid-col table td {
	color: white;
	text-align: center;
	position : relative;
	height: 30px;
	width: 30px;
	border: solid;
	border-width: 2px;
	border-color: gray;
	border-radius: 6px;
}

#mid-col table td.static{ 
	background: rgba(25,155,155,0.5);
}

#mid-col table td.false { 
	background-color: white;
}

#mid-col table td.true { 
	background-color: gray;
}

#mid-col table td.iluminate{
	border-color: yellow;
	border-width: 2px;
}

tr.datarow {
	height: 25px;
	text-align: center;
}

td.datacell.iluminate {
	background-color: rgba(25,155,155,0.5);
}


td.datacell {
	background-color: white;
	border-radius: 3px;
	text-align: center;
	font-weight: bold;
	border: 2px solid gray;
	color: black;
	height: 25px;
	width: 33%;
}

th.datacell {
	background-color: rgba(25,155,155,0.5);
	border-radius: 3px;
	text-align: center;
	border: 2px solid gray;
	color: white;
	height: 25px;
	width: 33%;
}

@media (max-width: 560px){
	.col-xxs-1, .col-xxs-2, .col-xxs-3, .col-xxs-4, .col-xxs-5, .col-xxs-6, .col-xxs-7, .col-xxs-8, .col-xxs-9, .col-xxs-10, .col-xxs-11, .col-xxs-12{
		position: relative;
		min-height: 1px;
		padding-left: 15px;
		padding-right: 15px;
		float: left;
	}

	.col-xxs-12 { width: 100% !important; }
	.col-xxs-11 { width: 91.66666667% !important; }		
	.col-xxs-10 { width: 83.33333333% !important; }
	.col-xxs-9 { width: 75% !important; }
	.col-xxs-8 { width: 66.66666667% !important; }
	.col-xxs-7 { width: 58.33333333% !important; }
	.col-xxs-6 { width: 50% !important; }
	.col-xxs-5 { width: 41.66666667% !important; }
	.col-xxs-4 { width: 33.33333333% !important; }
	.col-xxs-3 { width: 25% !important; }
	.col-xxs-2 { width: 16.66666667% !important; }
	.col-xxs-1 { width: 8.33333333% !important; }
}

/* Content */
#content {
	margin-top:50px;
}

#content > div h1 {
	font-family: Tahoma;
	font-weight: bold;
	text-shadow: 5px 5px 10px gray;
	text-align: center;
	font-size: 50px;
	margin: 60px 0 -40px 30px;
}

.navbar-gradient {
	background:-webkit-linear-gradient(rgba(255,255,255,1) 0%, rgba(216,216,216,0.55)  100% );
	background:-moz-linear-gradient(rgba(255,255,255,1), rgba(216,216,216,0.55) 100% );
	
	border-bottom-width: 2px;
	border-bottom-color: #199B9B;
	border-bottom-style: solid; 
}

ul.nav-tabs>li>a.color {
	color: #199B9B;
	font-weight: bold;
}

input.invalid {
	background:rgba(255, 0, 0, 0.5);
}

input.valid {
	background:rgba(25,155,155,0.5);
}

/* --- Geoespacial --- */
#tab-geo > div {
	margin: 70px auto 0;
	width:97%;
}

#tab-geo .gradient {
	border-radius: 5px;
	padding:10px;
}

#tab-geo .col-sm-9 {
	margin-left: -5px;
	margin-right: 5px;
}

/* values */

#tab-geo .values{
	margin:10px 0;

}

#tab-geo .values ul {
	list-style: none;
	margin:0;
	padding:0;
	overflow-y: auto;
	max-height: 250px;
}

#tab-geo .values ul li {
	font-weight: bold;
	padding:2px; padding-left:10px;
	border-radius: 7px;
	margin:2px 0;

	background-color:transparent;
    -moz-transition:background-color 2s , padding 0.5s;
    -webkit-transition:background-color 2s , padding 0.5s;
    -o-transition:background-color 2s , padding 0.5s;
    transition:background-color 2s , padding 0.5s;
}

#tab-geo .values ul li.new {
	background-color: #FFCC00;
	padding-left:25px;
}
