<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bloom - Geoespacial</title>

    <!-- Styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand">Trabajo</a>
        </div>
        <div class="navbar-collapse">
          <div class="nav navbar-nav">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary">
                <input type="checkbox" name="bloom"> Filtro Bloom
              </label>
              <label class="btn btn-primary">
                <input type="checkbox" name="geospatial"> Indice Geoespacial
              </label>
            </div>
          </div>
          <div class="nav navbar-nav navbar-right">
            <div class="btn-group">
              <button class="btn btn-primary">Start <span class="glyphicon glyphicon-play"></span></button>
              <button class="btn btn-primary">Next <span class="glyphicon glyphicon-forward"></span></button>
            </div>
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="content">
      <div class="col-md-3">
        <h3>Sidebar</h3>
      </div>
      <div class="col-md-9">
        <h2>Datacenter 
          <button class="btn btn-sm btn-primary pull-right" role="addServer">
            <span class="glyphicon glyphicon-plus"></span> Agregar servers
          </button>
        </h2>
        <ul id="servers">
          
        </ul>
      </div>
    </div>

    <div id="modals">
      <div id="newServer" tabindex="-1" role="dialog" aria-labelledby="newServer" aria-hidden="false" class="modal fade bs-modal-sm">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Crear servidores</h4>
            </div>
            <div class="modal-body">
              <div style="display:none;" class="alert alert-danger"></div>
              <div class="form-group pull-right">
                <label> Tamaño del Filtro Bloom: <input name="filtro" type="text" class="form-control" data-toggle="tooltip" data-placement="bottom" title="Numero entre 10 y 20"/></label>
              </div>
              <div class="form-group">
                <label> Cantidad de servers: <input name="cant" type="text" placeholder="Cantidad" class="form-control"/></label>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Crear</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- Templates -->
    <script type="text/template" id="template-server">
      <div class="panel panel-success" data-id="<%= id %>">
        <div class="panel-heading">
          <h3 class="panel-title">
            <span class="glyphicon glyphicon-tasks"></span>
            Server #<%= name %>
            <div class="pull-right">
              <div class="btn-group btn-group-sm" style="margin-top:-5px;">
                <button type="button" class="btn btn-success" role="acordeon">
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-cog"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                  <li class="hiddenButton">
                    <a href="#">Agregar Sectores</a>
                    <input class="toggle" type="text" placeholder="Cantidad">
                  </li>
                  <li><a href="#">Editar Filtro Bloom</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Borrar servidor</a></li>
                </ul>
              </div>
            </div>
          </h3>
        </div>
        <div class="panel-body" style="display:none;">
          <div class="filtroBloom"></div>
          <ul class="sectores"></ul>
        </div>
      </div>
    </script>

    <script type="text/template" id="template-sector">
      <div class="panel panel-primary" data-id="<%= id %>">
        <div class="panel-heading">
          <h3 class="panel-title">
            <span class="glyphicon glyphicon-hdd"></span>
            Sector #<%= name %>
            <div class="pull-right">
              <div class="btn-group btn-group-sm" style="margin-top:-5px;">
                <button type="button" class="btn btn-primary" role="acordeon">
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-cog"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                  <li><a href="#">Vaciar Datos</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Borrar sector</a></li>
                </ul>
              </div>
            </div>
          </h3>
        </div>
        <div class="panel-body" style="display:none;">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="<%= porcentaje %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= porcentaje %>%;">
              <%= porcentaje %>%
            </div>
          </div>
          <ul class="data">
          </ul>
        </div>
      </div>
    </script>

    <script type="text/template" id="template-filtro">
      Filtro Bloom 0 1 2 3 4 5 6 7 8 9
    </script>
    <!-- -->

    <script src="js/jquery.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
